@{
    ViewData["Title"] = "Home Page";
}
<script src="~/scripts/App/bundle.js"></script>


test

<h2>@ViewBag.Message</h2>
<p>
    <div id="cocos2d-app" style="width:960px; height:640px; border:solid 1px green;"></div>
</p>
